<form class="join-mail-list-block" action="/member/join" method="post">

    <div class="input-group">
        <input class="form-control email-field" name="email" placeholder="you@email.com" type="text">
        <span class="input-group-btn">
            <button class="btn btn-default join-button" type="submit">Join!</button>
        </span>
    </div>

</form>

