<a class="twitter-timeline"
    href="https://twitter.com/{{value.twitterHandle}}"
    data-screen-name="{{value.twitterHandle}}"
    data-widget-id="522550625389670400"
    height="500">
    Tweets by @{{value.twitterHandle}}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
