<!DOCTYPE html>

<!--[if IE 8]>
<html class="ie8">

<![endif]-->

<!--[if IE 9]>
<html class="ie9 gt-ie8">

<![endif]-->

<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Sign In - Huddle Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <!-- Open Sans font from Google CDN -->
    <!--<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css"/>-->

    <!-- Pixel Admin's stylesheets -->
    <link href="/lib/pixel-admin-1.3.0/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/pixel-admin-1.3.0/assets/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/pixel-admin-1.3.0/assets/stylesheets/pages.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/pixel-admin-1.3.0/assets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/pixel-admin-1.3.0/assets/stylesheets/themes.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/admin-page-styles.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/lib/pixel-admin-1.3.0/assets/javascripts/ie.min.js"></script>
    <![endif]-->

</head>

<body class="theme-dust page-signin-alt">


<div class="signin-header">
    <a href="/" class="logo">
        <div class="demo-logo">
            <img src="/images/fav/favicon-32x32.png" alt="" style="margin-top: -4px;"/>
        </div>&nbsp;
        <strong>{{huddle.name}}</strong>
    </a>
</div>

{{#section "content"}}
    No page content
{{/section}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- Pixel Admin's javascripts -->
<script src="/lib/pixel-admin-1.3.0/assets/javascripts/bootstrap.min.js"></script>
<script src="/lib/pixel-admin-1.3.0/assets/javascripts/pixel-admin.min.js"></script>

</body>
</html>
