{{#extend "admin/admin-account-layout"}}

    {{#replace "content"}}

        <h1 class="form-header">Reset password</h1>

        <div class="panel">

            <p>
                The link used to reset your password is not valid.
            </p>
            <p>
                For your security, password reset requests expire after 24 hours. If you need to reset your password again,
                please use the <a href="/admin/forgot">password reset page</a>.
            </p>
            <p>
                If you are still having trouble accessing your account, please contact us at
                <a href="mailto:info@goodhuddle.com">info@goodhuddle.com</a>
            </p>

        </div>

    {{/replace}}

{{/extend}}