{{#extend "admin/admin-account-layout"}}

    {{#replace "content"}}

        <h1 class="form-header">Email sent</h1>

        <!-- Form -->
        <div class="panel">

            <p>An email has been sent to you with a link to reset your password.</p>

        </div>

    {{/replace}}

{{/extend}}