{{#extend "admin/admin-account-layout"}}

    {{#replace "content"}}

        <h1 class="form-header">Password updated</h1>

        <div class="panel">

            <p>
                Your password has been successfully reset.
            </p>
            <p>
                <a href="/admin/login?user={{member.username}}">Click here to login to your huddle</a> using your new password.
            </p>

        </div>

    {{/replace}}

{{/extend}}