<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<div class="modal-header">
    <h3 class="modal-title">Discard changes</h3>
</div>
<div class="modal-body">
    Are you sure you want to discard the changes you have made to this blog?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Discard</button>
    <button class="btn btn-default" ng-click="cancel()">No</button>
</div>
