<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<div class="modal-header">
    <h3 class="modal-title">Change Payment Settings</h3>
</div>
<div class="modal-body">

    <form class="form-horizontal" role="form">

        <div>
            Please enter your Stripe Account details below (available from your
            <a href="https://support.stripe.com/questions/where-do-i-find-my-api-keys" target="_blank">Stripe Dashboard</a>).
            If you do not have a Stripe Account yet, <a href="https://dashboard.stripe.com/register" target="_blank">register for one now</a>.
            Registration with Stripe takes only a few minutes and all you need is your bank account number and ABN.
        </div>

        <div class="col-sm-12 margin-top">
            <div class="form-group">
                <label>Stripe Publishable key</label>
                <input type="text" class="form-control" ng-model="settings.publishableKey">
            </div>
            <div class="form-group">
                <label>Stripe Secret key</label>
                <input type="password" class="form-control" ng-model="settings.secretKey">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <img ng-show="cancelling" src="images/loading.gif">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Ok</button>
</div>
