<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<div id="mailouts" ng-controller="MailoutsController">

    <div id="breadcrumb-bar">
        <i class="fa fa-envelope"></i>
        <a ui-sref="member.mailout.list" class="active">mailouts</a>
    </div>


    <div class="inner">

        <div class="header-bar">
            <div class="pull-right">
                <button class="btn btn-default" ng-click="createMailout()">Create Mailout</button>
            </div>

            <h1>Mailouts</h1>
        </div>

        <div>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>

                <tr ng-if="mailouts.totalPages == 0" class="text-muted">
                    <td colspan="3">No mailouts have been created yet</td>
                </tr>


                <tr ng-repeat="mailout in mailouts.content">
                    <td>
                        <a ng-click="viewMailout(mailout)">{{mailout.name}}</a>
                    </td>
                    <td>
                        {{mailout.status}}
                    </td>
                    <td>
                        {{mailout.description}}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="pull-right">
                page {{mailouts.number + 1}} of {{mailouts.totalPages}}
                <button class="prev-btn btn btn-default btn-xs" ng-disabled="mailouts.first" ng-click="prevPage()">
                    &lt;</button>
                <button class="next-btn btn btn-default btn-xs" ng-disabled="mailouts.last" ng-click="nextPage()">
                    &gt;</button>
            </div>
        </div>
    </div>

</div>
