{{#extend "default-layout"}}

    {{#prepend "title"}}Forgot password - {{/prepend}}

    {{#replace "content"}}

        <h1>Forgot password</h1>

        <hr/>

        <div>

            <form action="/member/forgot" method="post" class="form-horizontal col-md-7">

                {{#hasErrors}}
                    <div class="alert alert-warning">
                        <p>Please fix the below errors and try again</p>
                    </div>
                {{/hasErrors}}

                <fieldset>
                    <div class="form-group {{errorClass 'email'}}">
                        <label for="email" class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-8">
                            <input id="email" type="text" class="form-control" name="email" value="{{request.email}}"/>
                            {{errorMessage "email"}}
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-8">
                        <button id="save-button" class="btn btn-primary">Reset password</button>&nbsp;&nbsp;
                        <a href="/" class="btn btn-default">Cancel</a>
                        <span id="info-area"></span>
                    </div>
                </div>

            </form>

        </div>


    {{/replace}}

{{/extend}}
