{{#extend "default-layout"}}

    {{#prepend "title"}}Join mailing list - {{/prepend}}

    {{#replace "content"}}

        <h1>Join mailing list</h1>

        <hr/>

        <div>

            Thanks for joining!

        </div>

    {{/replace}}

{{/extend}}
