<div class="gh-sign-up">

    <form class="gh-sign-up-form">

        <span data-gh-sign-up-error="general" class="has-error"></span>

        <div class="form-group">
            <label for="firstName">First Name*</label>
            <input data-gh-sign-up-name="firstName" class="form-control" placeholder=""/>
            <span data-gh-sign-up-error="firstName" class="has-error"></span>
        </div>

        <div class="form-group">
            <label for="lastName">Last Name*</label>
            <input data-gh-sign-up-name="lastName" class="form-control" placeholder=""/>
            <span data-gh-sign-up-error="lastName" class="has-error"></span>
        </div>

        <div class="form-group">
            <label for="postcode">Email*</label>
            <input data-gh-sign-up-name="email" class="form-control" placeholder=""/>
            <span data-gh-sign-up-error="email" class="has-error"></span>
        </div>

        <div class="form-group">
            <label for="postcode">Postcode*</label>
            <input data-gh-sign-up-name="postCode" class="form-control" placeholder=""/>
            <span data-gh-sign-up-error="postCode" class="has-error"></span>
        </div>

        <div class="form-group">
            <label for="phone">Phone (optional)</label>
            <input data-gh-sign-up-name="phone" class="form-control" placeholder=""/>
            <span data-gh-sign-up-error="phone" class="has-error"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">{{value.buttonLabel}}</button>
        </div>

    </form>
</div>

{{#append "scripts" addOnlyOnce="ghsignup"}}

    <script src="/js/goodhuddle-sign-up.js"></script>

    <script type="text/javascript">
        goodHuddleSignUp.init();
    </script>

{{/append}}

