<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<div id="huddle-dashboard">

    <section id="home-intro">
        <div class="container">
            <div class="row">
                <div class="home-intro-content">

                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1>Community building made easy</h1>
                        <p>GoodHuddle makes it easy to setup and grow an online presence for your community group. With simple,
                            friendly and cost-effective tools for managing a
                            website, memberships and fund raising, GoodHuddle takes care of the
                            techie stuff so you can focus on what really matters.</p>
                        <a href="signup.html" class="btn btn-common">GET STARTED FOR FREE</a>
                    </div>

                    <div class="col-sm-6 padding-top wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="0ms" style="visibility: visible; -webkit-animation: fadeInDown 1000ms 0ms;">
                        <h2>Why Choose Us?</h2>
                        <p>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore<br> tail corned beef Capicola nisi flank sed.</p>
                        <ul class="elements">
                            <li class="wow fadeInUp animated" data-wow-duration="900ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation: fadeInUp 900ms 100ms;"><i class="fa fa-angle-right"></i> when an unknown printer took a galley of type</li>
                            <li class="wow fadeInUp animated" data-wow-duration="800ms" data-wow-delay="200ms" style="visibility: visible; -webkit-animation: fadeInUp 800ms 200ms;"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
                            <li class="wow fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; -webkit-animation: fadeInUp 700ms 300ms;"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
                            <li class="wow fadeInUp animated" data-wow-duration="600ms" data-wow-delay="400ms" style="visibility: visible; -webkit-animation: fadeInUp 600ms 400ms;"><i class="fa fa-angle-right"></i> scrambled it to make a type specimen book.</li>
                            <li class="wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="500ms" style="visibility: visible; -webkit-animation: fadeInUp 500ms 500ms;"><i class="fa fa-angle-right"></i> but also the leap into electronic typesetting.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
