<!DOCTYPE html>

<html>

<head>
    <title>Coming soon</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

<div>

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center" style="margin-top: 40px">

                <h1>Coming soon</h1>

                <p>
                    We're working hard to bring you a new website experience.
                </p>

            </div>
        </div>
    </div>

</div>

</body>

</html>
