<!DOCTYPE html>

<html>

<head>
    <title>Not found</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

<div>

    <div class="container">

        <div class="row">

            <div class="col-md-8">

                <h1>Huddle not found</h1>

                <p>Sorry, but we don't have a Huddle registered at this address. Perhaps you typed in the wrong URL.</p>

            </div>
        </div>
    </div>

</div>

</body>

</html>