<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Coming Soon | {{huddle.name}}</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/util-page-styles.css" rel="stylesheet"/>


    <link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="images/fav/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/fav/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="images/fav/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/fav/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/fav/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#e04e39">
    <meta name="msapplication-TileImage" content="images/fav/mstile-144x144.png">

</head><!--/head-->

<body>

<section id="coming-soon">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center coming-content">
                    <h1>Coming Soon</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="coming-soon-help">

    <div class="col-sm-6 col-sm-offset-3">
        <div class="text-center">
            <p class="text-center">
                This site was registered with <a href="http://goodhuddle.com">GoodHuddle</a>.
            </p>
            <p class="text-center">
                If you are the site owner, to setup this site please login using the details sent to you via email
                or contact <a href="mailto:info@goodhuddle.com">info@goodhuddle.com</a> for help.
            </p>
        </div>
    </div>

</section>

</body>
</html>