/*
 * (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the GNU Lesser General Public License
 * (LGPL) version 2.1 which accompanies this distribution, and is available at
 * http://www.gnu.org/licenses/lgpl-2.1.html
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 */

.block-error {
    color: darkred;
}

.has-error {
    color: darkred;
}

/* ----------------------------------------------------------------------------
    Blog
---------------------------------------------------------------------------- */

.block .blog-feed {
    border: 1px solid #d3d3d3;
}

.block .blog-feed .blog-feed-title {
    background-color: #6e6e6e;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.block .more-news-area {
    background-color: #e9e9e9;
    border-top: 1px solid #d3d3d3;
    padding: 5px;
    text-align: center;
}


.block .blog-feed .blog-feed-posts {
    padding: 10px;
}

.block .blog-post-entry {
    padding: 10px;
    margin-bottom: 10px;
    min-height: 100px;
    border-bottom: 1px solid #d3d3d3;
}

.block .blog-post-entry:last-child {
    border-bottom: none;
}

.block .blog-post-entry .feature-image {
    float: left;
    width: 100px;
    height: 80px;
}

.block .blog-post-entry .feature-image img {
    width: 100%;
    height: 100%;
}

.block .blog-post-entry.with-feature-image .post-summary {
    margin-left: 120px;
}

.block .blog-post-entry .blog-post-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.block .blog-post-entry .post-meta-info {
    font-size: 8px;
    color: #808080;
}

.block .blog-post-entry .blog-post-blurb {
    font-size: 12px;
}

/* Carousel Block */

.block .slider-size {
    height: 400px; /* This is your slider height */
}
.block .carousel {
    width:100%;
    margin:0 auto; /* center your carousel if other than 100% */
}

.block .carousel .carousel-image {
    position: relative;
}

.block .carousel .carousel-lead-text {
    position: absolute;
    left: 80px;
    bottom: 100px;
}


.block .carousel .carousel-lead-text p {
    color: white;
    font-size: 54px;
}

.block .carousel .carousel-tagline .subtext {
    margin: 10px 120px;
}

@media (max-width: 480px) {

    .block .carousel .carousel-lead-text {
        position: absolute;
        left: 40px;
        bottom: 60px;
    }

    .block .carousel .carousel-lead-text p {
        font-size: 28px;
    }

    .block .carousel .carousel-tagline .subtext {
        margin: 10px 40px;
    }

    .block .carousel .carousel-control {
        margin-left: 0;
        margin-right: 0;
    }
}



/* Twitter Block */

.block iframe[id^='twitter-widget-'] {
    width:100% !important;
}

/* Petition */

.block .petition-area {
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
}

.block .petition-area .content-area {
    min-height: 200px;
}

