<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<div id="row-settings">
    <div class="modal-header">
        <h3 class="modal-title">Row Settings</h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="fullWidth" class="col-sm-3 control-label">Stretch full width</label>
                        <div class="col-sm-9">
                            <label>
                                <input id="fullWidth" type="checkbox" ng-model="row.fullWidth"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="cssClass" class="col-sm-3 control-label">CSS class</label>
                        <div class="col-sm-9">
                            <input id="cssClass" class="form-control" ng-model="row.cssClass"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="backgroundColor" class="col-sm-3 control-label">Background color</label>
                        <div class="col-sm-9">
                            <input id="backgroundColor" class="form-control" ng-model="row.backgroundColor"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="paddingTop" class="col-sm-3 control-label">Padding (top)</label>
                        <div class="col-sm-9">
                            <input id="paddingTop" class="form-control" ng-model="row.paddingTop"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="paddingLeft" class="col-sm-3 control-label">Padding (left)</label>
                        <div class="col-sm-9">
                            <input id="paddingLeft" class="form-control" ng-model="row.paddingLeft"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="paddingBottom" class="col-sm-3 control-label">Padding (bottom)</label>
                        <div class="col-sm-9">
                            <input id="paddingBottom" class="form-control" ng-model="row.paddingBottom"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="paddingRight" class="col-sm-3 control-label">Padding (right)</label>
                        <div class="col-sm-9">
                            <input id="paddingRight" class="form-control" ng-model="row.paddingRight"/>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Ok</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
