<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<h4>
    Page content
</h4>

<p>
    This is the content drag-and-drop editor where you can change the text, images and other content on your page.
</p>

<p>
    Simply grab text, images and other blocks to move them around the grid. Drag the grey bars between
    blocks to resize columns.
</p>

<div class="tip-buttons">
    <button ng-click="tip.showTitleTip()" class="btn btn-default prev-btn">Previous</button>
    <button ng-click="tip.showToolsTip()" class="btn btn-default next-btn">Next</button>
</div>
