<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<h4>
    Help us make GoodHuddle better
</h4>
<p>
    This page editor is currently in 'beta'. No doubt there will be a few things that aren't quite as
    smooth as they could be yet. Please help us by sending feedback and suggestions to
    <a href="info@goodhuddle.com">info@goodhuddle.com</a>.
</p>
<p>
    Happy page editing!
</p>
<div class="tip-buttons">
    <button ng-click="tip.showToolsTip()" class="btn btn-default prev-btn">Previous</button>
    <button ng-click="tip.dismiss()" class="btn btn-default next-btn">Done</button>
</div>
