<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<h4>
    Tools
</h4>
<p>
    You can drag in new bits of content from the tool bar.
</p>
<p>
    GoodHuddle provides a range of built in tools, including text, images, youtube videos
    and much more.
</p>

<div class="tip-buttons">
    <button ng-click="tip.showContentTip()" class="btn btn-default prev-btn">Previous</button>
    <button ng-click="tip.showFinalTip()" class="btn btn-default next-btn">Next</button>
</div>
