<!--
  ~ (C) Copyright ${year} Nuxeo SA (http://nuxeo.com/) and others.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the GNU Lesser General Public License
  ~ (LGPL) version 2.1 which accompanies this distribution, and is available at
  ~ http://www.gnu.org/licenses/lgpl-2.1.html
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  -->

<div id="setup-start" ng-controller="SetupStartController">

    <div class="container">
        <div class="row">

            <div class="setup-content">

                <div class="col-md-6">

                    <h1>Welcome to your new Huddle</h1>

                    <p>
                        Customising your Huddle is easy with our simple setup wizard. We step you through choosing a
                        theme for your website, creating some starter pages and generally just personalising your
                        Huddle to represent your community group.
                    </p>
                    <p>
                        It takes just a few minutes and you'll have a professional looking website ready to use before
                        you know it.
                    </p>

                    <div class="setup-actions">
                        <a ng-click="next()" class="btn btn-common">SETUP HUDDLE</a>
                    </div>

                </div>

                <div class="col-md-6">

                </div>

            </div>

        </div>
    </div>

</div>
